.composition{
    position: relative;
    &__photo{
        width: 55%;
        border-radius: 2px;
        box-shadow: 0 1rem 4rem rgba($color-black, .4);
        position: absolute;
        transition: all .2s ease-in-out;
        outline-offset: 2rem;
        &--p1{
            left: 0;
            top:-2rem;   
        }
        &--p2{
            right: 0;
            top:2rem;    
        }
        &--p3{
            left: 20%;
            top:10rem;   
        }
        &:hover{
            transform: scale(1.1) translateY(-.5rem);
            z-index: 1;
            outline: solid 1.5rem $color-primary;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .8);
        }   
        
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}